*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;   
}

body{
    background-color: blue;
}


h1{
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    font-size: 30px;
}
.wrapper{
    background-color: #ffffff;
    padding: 70px 70px;
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 1px);
    border-radius: 10px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.form_input{
    width: 310px;
    position: absolute;
    border: 2px solid blue;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    background-color: black;
    color: #ffffff;   
}

.form_answer{
    width: 310px;
    position: absolute;
    border: 2px solid blue;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    background-color: black;
    color: #ffffff;
    
}

.from_option{
    outline: none;
    background-color: black;
    color: #ffffff;
    padding: 5px;
    
}

.cal_btn1{
    border-radius: 50px;
    width: 310px;
    padding: 5px;
    outline: none;
    background-color:green;
    border-color: green;
    font-size: 15px;

}
  
.cal_btn2{
    outline: none;
    border-radius: 50px;
    width: 310px;
    padding: 5px;
    background-color: red;
    border-color:red ;
    font-size: 15px;
    
}
  
  
label{
    font-size: 20px;
} 
 
.name{
     padding-top: 500px;
     color: #ffffff;
     font-size: 15px;
     
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 